---
layout: page
title: Verification of Regex Matching
description: Formal language verification using Coq of implemented algorithms for deciding membership of a word with respect to a given regular language.
img: assets/img/coq.jpg
importance: 3
category: older
---
